[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/sce_vectormath"]
	path = external/sce_vectormath
	url = git@github.com:erwincoumans/sce_vectormath.git
